
.avatar-sm {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid purple;
    padding: 5px;
}

.avatar-md {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid purple;
    padding: 5px;
}