
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../images/background.jpg");
    color: white;
    height: 70vh;
} 

.banner .container {
    padding-top: 150px;
}

.banner p {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}