
.button-primary {
    text-decoration: none;
    color: white;
    background-color: rgb(65, 189, 148);
    padding: 5px 10px;
    font-size: large;
    font-weight: 600;
    border-radius: 3px;
}

.button-primary:hover {
    background-color: rgb(24, 121, 88);
}

.button-secondary {
    text-decoration: none;
    color: grey;
    border: 2px solid grey;
    padding: 5px 10px;
    font-size: large;
    font-weight: 600;
    border-radius: 3px;
}

.button-secondary:hover {
    border: 2px solid black;
}

