.card-trip {
    width: fit-content;
}

.card-trip img {
    height: 250px;
    width: 500px;
}

.trip-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.trip-info h2 {
    margin: 0;
}

.trip-info p {
    margin: 0;
}